.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 1200px;
   /*  max-width: 1840px; */
}

.preview {
    height: 700px;
    min-width: 500px;
    width: 100%;
    flex-shrink: 10;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;

    @media(max-width: 2000px) {
        min-width: 450px;
    }

    @media(max-width: 1900px) {
        display: none;
    }

    p {
        color: #ADBFDF;
        width: 370px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }

}