.root {
    width: 100%;
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #71869D;
}

.field {
    width: 100%;
    padding: 0 12px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background: #FFF;
    display: flex;
    align-items: center;
    position: relative;
    gap: 6px;

    span {
        color: #71869D;
        vertical-align: top;
    }
}